.main-aside {
	position: fixed;
	padding: 15px;
	width: 200px;
	height: calc(100% - 100px);
	top:65px;
	background-color: #293448;
	border-radius: 10px;
	box-sizing: border-box;
}

.aside-header {
	padding-bottom: 5px;
	margin-bottom: 10px;
	border-bottom: 1px solid #54486f;
}

.aside-nav-link {
	padding: 10px 0;
}
