.contacts{
	display: none;
	padding-left: 70px;
}

.contacts-header{
	margin-bottom: 20px;
}

.contacts span{
	display: inline-block;
	width: 300px;
	margin-bottom: 15px;
}

.contacts a{
	display: inline-block;
}

.contacts-map{
	width: 800px;
	height: 600px;
	background-image: url(../img/map.jpg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
}