footer{
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100%;
	background-color: #293448;
	color: #fff;
	z-index: 10;
}

.social-item{
	display: inline-block;	
}

.social-item i{
	padding: 2px;
	font-size: 23px;
}

.git-link,
.about-link {
		width: 200px;
		padding: 5px 0;
}

.about-link {
	text-align: right;
}